News.Website/Connected Services/NewsServiceReference/NewsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64106/NewsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" />
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetArticlesResult" nillable="true" type="q1:ArrayOfArticleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetArticleByIdResult" nillable="true" type="q2:ArticleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlesByPublicationDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publishedOn" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlesByPublicationDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetArticlesByPublicationDateResult" nillable="true" type="q3:ArrayOfArticleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlesByAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlesByAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetArticlesByAuthorResult" nillable="true" type="q4:ArrayOfArticleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetAuthorsResult" nillable="true" type="q5:ArrayOfAuthorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetAuthorByIdResult" nillable="true" type="q6:AuthorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorsByFirstName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorsByFirstNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetAuthorsByFirstNameResult" nillable="true" type="q7:ArrayOfAuthorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorsByLastName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorsByLastNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetAuthorsByLastNameResult" nillable="true" type="q8:ArrayOfAuthorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorsByFullName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorsByFullNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetAuthorsByFullNameResult" nillable="true" type="q9:ArrayOfAuthorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorsByNewsAgency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorsByNewsAgencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetAuthorsByNewsAgencyResult" nillable="true" type="q10:ArrayOfAuthorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetPhotosResult" nillable="true" type="q11:ArrayOfPhotoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetPhotoByIdResult" nillable="true" type="q12:PhotoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotosByPublicationDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publishedOn" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotosByPublicationDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetPhotosByPublicationDateResult" nillable="true" type="q13:ArrayOfPhotoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotosByAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotosByAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetPhotosByAuthorResult" nillable="true" type="q14:ArrayOfPhotoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsAgencies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsAgenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetNewsAgenciesResult" nillable="true" type="q15:ArrayOfNewsAgencyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsAgencyById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsAgencyByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" minOccurs="0" name="GetNewsAgencyByIdResult" nillable="true" type="q16:NewsAgencyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>