News.Website/Connected Services/NewsServiceReference/NewsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/News.ApplicationServices.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArticleDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArticleDto" nillable="true" type="tns:ArticleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticleDto" nillable="true" type="tns:ArrayOfArticleDto" />
  <xs:complexType name="ArticleDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abstract" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Author" nillable="true" type="tns:AuthorDto" />
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PublicationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SubTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Topic" nillable="true" type="tns:ArticleTopicDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArticleDto" nillable="true" type="tns:ArticleDto" />
  <xs:complexType name="BaseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDto" nillable="true" type="tns:BaseDto" />
  <xs:complexType name="AuthorDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NewsAgency" nillable="true" type="tns:NewsAgencyDto" />
          <xs:element minOccurs="0" name="RegisteredOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthorDto" nillable="true" type="tns:AuthorDto" />
  <xs:complexType name="NewsAgencyDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="tns:CountryDto" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewsAgencyDto" nillable="true" type="tns:NewsAgencyDto" />
  <xs:complexType name="CountryDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CountryDto" nillable="true" type="tns:CountryDto" />
  <xs:complexType name="ArticleTopicDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArticleTopicDto" nillable="true" type="tns:ArticleTopicDto" />
  <xs:complexType name="ArrayOfAuthorDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorDto" nillable="true" type="tns:AuthorDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorDto" nillable="true" type="tns:ArrayOfAuthorDto" />
  <xs:complexType name="ArrayOfPhotoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoDto" nillable="true" type="tns:PhotoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhotoDto" nillable="true" type="tns:ArrayOfPhotoDto" />
  <xs:complexType name="PhotoDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Author" nillable="true" type="tns:AuthorDto" />
          <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PublicationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TakenOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="tns:PhotoTypeDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhotoDto" nillable="true" type="tns:PhotoDto" />
  <xs:complexType name="PhotoTypeDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhotoTypeDto" nillable="true" type="tns:PhotoTypeDto" />
  <xs:complexType name="ArrayOfNewsAgencyDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewsAgencyDto" nillable="true" type="tns:NewsAgencyDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewsAgencyDto" nillable="true" type="tns:ArrayOfNewsAgencyDto" />
</xs:schema>